<div class="container mt-5">

    <h1 style="font-family:cursive ;"> Xlsx Records</h1>

    <form action="/delete-alldata" method="POST"> <button type="submit " class="btn btn-outline-danger my-5">DELETE All
            DATA</button>
    </form>

    <table class="table table-light table-striped">
        <thead>
            <tr>
                <th scope="col">User</th>
                <th scope="col">Policy category</th>
                <th scope="col">Policy ID</th>
                <th scope="col">premium amount</th>
                <th scope="col">address</th>
                <th scope="col">EDIT PRODUCT</th>
                <th scope="col">DELETE PRODUCT</th>
            </tr>
        </thead>
        <tbody>
            {{#each alldata}}
            <tr>
                <td> {{firstname}} </td>
                <td> {{category_name}} </td>
                <td> {{policy_number}} </td>
                <td> {{premium_amount}} /- </td>
                <td> {{address}} </td>
                <td>
                    <form action="/edit-User/{{_id}}" method="GET"> <button type="submit "
                            class="btn btn-primary">EDIT</button> </form>
                </td>
                <td>
                    <form action="/delete-User/{{_id}}" method="GET"> <button type="submit "
                            class="btn btn-danger">DELETE</button> </form>
                </td>
            </tr>
            {{/each }}
        </tbody>
    </table>
</div>